[flake8]
exclude =
    .git,
    .venv,
    venv,
    __pycache__,
    migrations,
    staticfiles,
    reports,
    htmlcov

max-line-length = 88
extend-ignore = E203,W503

per-file-ignores =
    bookstore/settings/development.py:F403,F405
    bookstore/settings/production.py:F403,F405
    bookstore/settings/test.py:F403,F405